# pytest==6.0.1
pytest==6.2.5
selenium==3.141.0
# webdriver-manager==2.3.0
webdriver-manager==3.4.2
# allure-pytest==2.6.2
allure-pytest==2.9.43
requests==2.23.0
# pytest-xdist==2.1.0
pytest-xdist==2.3.0
pytest-allure-adaptor==1.7.10
